@page "/Admin/Profiles"
@attribute [TabItemOption(Text = "個人中心", Icon = "fa-solid fa-suitcase")]

<div class="tab-scroll-body">
    <AdminCard HeaderText="@Localizer["BaseData"]" AuthorizeKey="SaveDisplayName">
        <AdminAlert Text="@Localizer["ForbitModiAdminName"]" IsShow="IsDemo" />
        <ValidateForm OnValidSubmit="OnSaveDisplayName" Model="CurrentUser">
            <div class="row g-3 form-inline">
                <div class="col-12 col-sm-6">
                    <Display @bind-Value="@CurrentUser.UserName" />
                </div>
                <div class="col-12 col-sm-6">
                    <BootstrapInput @bind-Value="@CurrentUser.DisplayName" Readonly="IsDemo" />
                </div>
                <Block Condition="!IsDemo">
                    <div class="col-12 justify-content-end">
                        <Button ButtonType="ButtonType.Submit" Icon="fa-solid fa-floppy-disk" Text="@Localizer["SaveText"]" />
                    </div>
                </Block>
            </div>
        </ValidateForm>
    </AdminCard>

    <AdminCard HeaderText="@Localizer["EditPassword"]" AuthorizeKey="SavePassword">
        <AdminAlert Text="@Localizer["ForbitModiAdminPassword"]" IsShow="IsDemo" />
        <ValidateForm OnValidSubmit="OnSavePassword" Model="CurrentUser">
            <div class="row g-3 form-inline">
                <div class="col-12 col-sm-6">
                    <BootstrapInput @bind-Value="@CurrentUser.Password" DisplayText="@Localizer["OriginalPassword"]" Readonly="IsDemo" />
                </div>
                <div class="col-12 col-sm-6 d-none d-sm-block">
                </div>
                <div class="col-12 col-sm-6">
                    <BootstrapPassword @bind-Value="@CurrentUser.NewPassword" Readonly="IsDemo" />
                </div>
                <div class="col-12 col-sm-6">
                    <BootstrapPassword @bind-Value="@CurrentUser.ConfirmPassword" Readonly="IsDemo" />
                </div>
                <Block Condition="!IsDemo">
                    <div class="col-12 justify-content-end">
                        <Button ButtonType="ButtonType.Submit" Icon="fa-solid fa-floppy-disk" Text="@Localizer["SaveText"]" />
                    </div>
                </Block>
            </div>
        </ValidateForm>
    </AdminCard>

    <AdminCard HeaderText="@Localizer["DefaultApp"]" AuthorizeKey="SaveApp">
        <AdminAlert Text="@Localizer["ForbitModiDefaultApp"]" IsShow="IsDemo" />
        <div class="row g-3 form-inline">
            <div class="col-12 col-sm-6">
                <Dropdown Items="Apps" @bind-Value="CurrentUser.App" />
            </div>
            <Block Condition="!IsDemo">
                <div class="col-12 col-sm-6 justify-content-end">
                    <Button Icon="fa-solid fa-floppy-disk" Text="@Localizer["SaveText"]" OnClickWithoutRender="OnSaveApp" />
                </div>
            </Block>
        </div>
    </AdminCard>

    <AdminCard HeaderText="@Localizer["WebStyle"]" AuthorizeKey="SaveApp">
        <AdminAlert Color="Color.Info">
            <span>@Localizer["Attention"]<b><TabLink Url="/Admin/Settings" Text="@Localizer["WebSetting"]" Icon="fa-solid fa-flag">@Localizer["WebSetting"]</TabLink></b> @Localizer["WebSettingStyle"]</span>
        </AdminAlert>
        <div class="row g-3 form-inline">
            <div class="col-12 col-sm-6">
                <Dropdown Items="Themes" @bind-Value="CurrentUser.Css" />
            </div>
            <Block Condition="!IsDemo">
                <div class="col-12 col-sm-6 justify-content-end">
                    <Button Icon="fa-solid fa-floppy-disk" Text="@Localizer["SaveText"]" OnClickWithoutRender="OnSaveTheme" />
                </div>
            </Block>
        </div>
    </AdminCard>

    <AdminCard HeaderText="@Localizer["PersonalIcon"]" AuthorizeKey="SaveIcon">
        <div class="row g-3 form-inline">
            <div class="col-12 col-sm-6">
                <CardUpload TValue="string" IsSingle="true" DefaultFileList="PreviewFileList" OnChange="OnSaveIcon" OnDelete="OnDeleteIcon" />
            </div>
        </div>
    </AdminCard>
</div>
