@page "/"
@page "/FrontIndex"
@layout BootstrapAdmin.Web.Shared.FrontLayout


<PageTitle>新竹縣志願服務推廣中心</PageTitle>


<div class="vstack gap-3 mt-5">
    <div class="row bg-opacity-10">
        <div class="col-md-8 vstack gap-3" style="justify-content: center;">
            <h2 class="fw-bold" style="color:#DC3545;">
                @Localizer["NewestInfomation"]
            </h2>
            <div>
                @if (Bulletins != null)
                {
                    foreach (var item in Bulletins)
                    {
                        var content = RemoveHtmlTags(item.Content).Length > 50 ? RemoveHtmlTags(item.Content).Substring(0, 50) + "..." : RemoveHtmlTags(item.Content);
                        <div class="row align-items-center py-3" style="@DataRowBackgroudColorKeyValues[(item.GetType().Name, $"{item.Id}")]"
                             @onclick="@(args => ComponentOnClick(item))"
                             @onmouseover="@(args => OnDataRowMouseOver(args, item.GetType().Name, item.Id))"
                             @onmouseout="@(args => OnDataRowMouseOut(args, item.GetType().Name, item.Id))">
                            <div class="col-md-10 h5 fw-bold" style="color:#198496;">
                                <i class="fa-solid fa-genderless" /> @item.Title
                            </div>
                            <div class="col-md-2">
                                @item.CreateDate.ToString("yyyy/MM/dd")
                            </div>
                        </div>
                        @if (!item.Equals(Bulletins.Last()))
                        {
                            <Divider class="m-0" />
                        }
                    }
                }
            </div>
            <div class="text-end">
                <Button Color="Color.Secondary">
                    <a href="central-message" class="fa-solid fa-plus" aria-current="page"> 更多中心消息</a>
                </Button>
            </div>
        </div>
        <div class="col-md-4" style="align-content:center;">

            <ImageViewer Url="/images/fronts/banner03.png" @onclick="@(args => ComponentOnClick(imagedetail))" FitMode="ObjectFitMode.Contain" class="img-fluid" style="padding:10px; cursor:pointer;" title="專長志工徵稿" />

        </div>
    </div>
</div>

<div class="row mt-5" style="border-radius:10px; padding:40px 0px 20px 0px; background-color:#fcf3f1;">
    <div class="col-md-12 vstack gap-3" style="padding-left: 15px;">
        <h2 class="fw-bold" style="color:#198754;">
            @Localizer["EducationTraining"]
        </h2>
        <div>
            @if (EducationTrainings != null)
            {
                foreach (var item in EducationTrainings)
                {
                    var content = RemoveHtmlTags(item.Content).Length > 50 ? RemoveHtmlTags(item.Content).Substring(0, 50) + "..." : RemoveHtmlTags(item.Content);

                    <div class="row align-items-center py-3" style="@DataRowBackgroudColorKeyValues[(item.GetType().Name, $"{item.Id}")]"
                         @onclick="@(args => ComponentEduTrainOnClick(item))"
                         @onmouseover="@(args => OnDataRowMouseOver(args, item.GetType().Name, item.Id))"
                         @onmouseout="@(args => OnDataRowMouseOut(args, item.GetType().Name, item.Id))">
                        <div class="col-10 h5 fw-bold">
                            <i class="fa-solid fa-genderless" /> @item.Title
                        </div>
                        <div class="col-2">
                            @item.CreateDate.ToString("yyyy/MM/dd")
                        </div>
                    </div>
                    @if (!item.Equals(Events.Last()))
                    {
                        <Divider class="m-0" />
                    }
                }
            }
        </div>
        <div class="text-end">
            <Button Color="Color.Secondary">
                <a href="education-training" class="fa-solid fa-plus" aria-current="page"> 更多教育訓練公告</a>
            </Button>
        </div>
    </div>
</div>

<div class="row col-md-12 col-12 mt-5">
    <div class="col-md-4 col-12">
        <h2 class="fw-bold" style="color:#198754;">
            交通資訊
        </h2>
        <hr />
        <h5 class="fw-bold" style="color:#DC3545;">
            中心地址：
        </h5>
        <h6>
            新竹縣竹北市光明二街81巷43號 (竹北市衛生所旁)
        </h6>
    </div>
    <div class="col-md-4 col-12">
        <h2 class="fw-bold" style="color:#198754;">
            地圖位置
        </h2>
        <hr />
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d640.0967157390028!2d121.00615489012245!3d24.831936519504325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34683774bac1ad8b%3A0xdf986a9e9ad9cf79!2z5paw56u557ij5b-X6aGY5pyN5YuZ5o6o5buj5Lit5b-D!5e0!3m2!1szh-TW!2stw!4v1724729584320!5m2!1szh-TW!2stw" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="img-fluid"></iframe>
        </div>
    </div>
    <div class="col-md-4 col-12" style="align-content:center;">
        <a herf="https://www.hsinchu.gov.tw/"><ImageViewer Url="/images/fronts/banner02.jpg" FitMode="ObjectFitMode.Contain" class="img-fluid" title="新竹縣政府社會處" /></a>
    </div>
</div>