@namespace BootstrapAdmin.Web.Components

<div class="row g-3 form-inline">
    <div class="col-12 col-sm-6 col-md-6">
        <Select Items="@Devices" @bind-Value="@DeviceId" DisplayText="@DeviceLabel" PlaceHolder="@PlaceHolderString"></Select>
    </div>
    <div class="col-12 col-sm-6 col-md-6">
        照片預覽
    </div>
    <div class="col-12 col-sm-6 col-md-6">
        <Camera @ref="Camera" OnInit="@OnInit" OnOpen="@OnOpen" OnClose="@OnClose" OnError="@OnError" DeviceId="@DeviceId" AutoStart="true"/>
    </div>
    <div class="col-12 col-sm-6 col-md-6">
        <img style="@ImageStyleString" src="@ImageContentData" />
    </div>
    <div class="col-12 col-sm-6 col-md-6">
        <section ignore>
            @* 隱藏攝像頭列表 *@
            
            @if (ImageUrl != null)
            {
                <img src="@ImageUrl" class="mt-3" />
            }
            <div class="btn-group mt-3">
                @* 設為自動打開了
                <Button Text="@PlayText" Color="Color.Success" Icon="fa-solid fa-play" IsDisabled="PlayDisabled" OnClick="OnClickOpen"></Button>
                <Button Text="@StopText" Color="Color.Danger" Icon="fa-solid fa-stop" IsDisabled="StopDisabled" OnClick="OnClickClose"></Button>
                *@
                <Button Text="@PreviewText" Color="Color.Info" Icon="fa-solid fa-camera" IsDisabled="CaptureDisabled" OnClick="OnClickPreview"></Button>
                 @*
                <Button Text="@SaveText" Color="Color.Info" Icon="fa-solid fa-camera" IsDisabled="CaptureDisabled" OnClick="OnClickSave"></Button>
                *@
            </div>
            @* 隱藏圖片格式
            <div class="mt-3">
                <Button Text="QVGA" IsDisabled="StopDisabled" OnClick="() => OnApply(320, 240)"></Button>
                <Button Text="VGA" IsDisabled="StopDisabled" OnClick="() => OnApply(640, 380)"></Button>
                <Button Text="HD" IsDisabled="StopDisabled" OnClick="() => OnApply(1280, 720)"></Button>
                <Button Text="Full HD" IsDisabled="StopDisabled" OnClick="() => OnApply(1920, 1080)"></Button>
                <Button Text="Television 4K (3840 * 2160)" IsDisabled="StopDisabled" OnClick="() => OnApply(3840, 2160)"></Button>
                <Button Text="Cinema 4K (4096 * 2160)" IsDisabled="StopDisabled" OnClick="() => OnApply(4096, 2160)"></Button>
                <Button Text="8K" IsDisabled="StopDisabled" OnClick="() => OnApply(7680, 4320)"></Button>
            </div>
            <ConsoleLogger @ref="Logger" class="mt-3" />
            *@
           
        </section>
    </div>
    <div class="col-12 col-sm-6 col-md-6">
    </div>
    <div class="col-12 col-sm-6 col-md-6">
        <BootstrapInput @bind-Value="@FileDesc" ShowLabel="true"></BootstrapInput>
    </div>
    <div class="col-12">
        <div class="text-end">
            <Button Color="Color.Primary" ButtonType="ButtonType.Button" Text="@Localizer["Upload"]" OnClick="OnSaveFile"></Button>
        </div>
    </div>
</div>

